html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
* {
    width:100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
}
body {
    margin:0;
    padding:0;
    /*border: 2px solid black;*/
   /* background: url(/images/bed.jpeg);*/
    background-repeat: no-repeat;
    background-size: auto;
    
}
header {
    background-color: grey;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}
footer{
    margin:0;
    padding:0;
    background-color:black;
}
button {
    background-color: lightgray;
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:30%;
    border-radius:5px;
}
a{
    color:black;
}
a:hover{
    color:red;
}
button:hover{
    background-color:white;
    color:white;
}
.row {
    margin-right:100px;
}
.container{
    margin:0;
    padding:0;
}
.offset-md-3 {
    margin-left: 20px;
}
.card-body {
    flex: 1 1 auto;
    padding: 0;
}
.row{
   margin-bottom:60px;
    width:100%;
    margin-top:60px;
}
.container {
    align-items:center;
    margin:auto;
    padding-left: 50px;
    padding-right:50px;
}
.col-sm{
    height:100px;

}
img{
    width:250px;
    height:250px;
}
.container-main{
    padding-top:150px;
}
.table.name {
    padding-left: 0;
    border-spacing: 0; /* Removes the cell spacing via CSS */
    border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */
}
.main {
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:20px;
}
.display-4{
    text-align:center;
}
.prod-pg {
    background-image: url(/images/prods-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}