@{
    ViewData["Title"] = "Home Page";
}
@*<script>
    var cookie = document.cookie;
    alert(cookie);
</script>*@
<body class="main">
<div class="text-center">
    <h1 class="display-4">Welcome to our Furniture Shop</h1>
    <button><a href="/Product" style="font-size:20px">Products</a></button>
@*</div>
    <div class="container-main">
  <div class="row">
        <div class="col-sm" >
                <img src="/images/bed.jpeg" />
      One of three columns
               
    </div>
    <div class="col-sm" >
                <img src="/images/Homepage_Sofas.jpg" />
      One of three columns
    </div>
    <div class="col-sm" >
                <img src="/images/anotherpfp.png" />
      One of three columns
    </div>
  </div>
</div>*@
 
</body>