@{
    ViewData["Title"] = "prod_Details";
}
<script>
    var cookieList = (document.cookie) ? document.cookie.split('; ') : [];

    var cookieValues = {};
    for (var i = 0, n = cookieList.length; i != n; ++i) {
        var cookie = cookieList[i];
        var f = cookie.indexOf('=');
        if (f >= 0) {
            var cookieName = cookie.substring(0, f);
            var cookieValue = cookie.substring(f + 1);
            if (!cookieValues.hasOwnProperty(cookieName)) {
                cookieValues[cookieName] = cookieValue;
            }

        }
    }

    var rawval = cookieValues['first_request'];
    var decodedValue = decodeURIComponent(rawval);
</script>

<div>
    <p>
        you logged in at
        <script>document.write(decodedValue)</script>
    </p>
</div>
